web/wsdl_gestionreporting/ws_gestionreporting.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:gestreportwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:gestreportwsdl">
<types>
<xsd:schema targetNamespace="urn:gestreportwsdl">
<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>

<xsd:complexType name="InData">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="libelle" type="xsd:string"/>
<xsd:element name="service" type="xsd:string"/>
<xsd:element name="montant" type="xsd:int"/>
</xsd:all>
</xsd:complexType>

<xsd:complexType name="InData">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="sujet" type="xsd:string"/>
<xsd:element name="nomservice" type="xsd:string"/>
<xsd:element name="message" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:complexType name="InData">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="servicevente" type="xsd:string"/>
<xsd:element name="designation" type="xsd:string"/>
<xsd:element name="quantite" type="xsd:int"/>
</xsd:all>
</xsd:complexType>


</xsd:schema>

</types>
<message name="gestionreportingRequest">
<part name="token" type="xsd:string"/>
</message>
<message name="gestionreportingResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="servicepointRequest">
<part name="token" type="xsd:string"/>
</message>
<message name="servicepointResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ajoutdepenseRequest">
<part name="params" type="xsd:InData"/>
</message>
<message name="ajoutdepenseResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="reclamationRequest">
<part name="params" type="xsd:InData"/>
</message>
<message name="reclamationResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="venteRequest">
<part name="params" type="xsd:InData"/>
</message>
<message name="venteResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="gestreportPortType">
<operation name="gestionreporting">
<documentation>Method gestreport gestionreporting</documentation>
<input message="tns:gestionreportingRequest"/>
<output message="tns:gestionreportingResponse"/>
</operation>
<operation name="servicepoint">
<documentation>Method servicept servicepoint</documentation>
<input message="tns:servicepointRequest"/>
<output message="tns:servicepointResponse"/>
</operation>
<operation name="ajoutdepense">
<documentation>Method ajoutdepense ajoutdepense</documentation>
<input message="tns:ajoutdepenseRequest"/>
<output message="tns:ajoutdepenseResponse"/>
</operation>
<operation name="reclamation">
<documentation>Method reclamation reclamation</documentation>
<input message="tns:reclamationRequest"/>
<output message="tns:reclamationResponse"/>
</operation>
<operation name="vente">
<documentation>Method vente vente</documentation>
<input message="tns:venteRequest"/>
<output message="tns:venteResponse"/>
</operation>
</portType>
<binding name="gestreportBinding" type="tns:gestreportPortType">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="gestionreporting">
<soap:operation soapAction="urn:gestreportwsdl#gestionreporting" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:gestreportwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:gestreportwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="servicepoint">
<soap:operation soapAction="urn:serviceptwsdl#servicepoint" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:serviceptwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:serviceptwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="ajoutdepense">
<soap:operation soapAction="urn:ajoutdepensewsdl#ajoutdepense" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:ajoutdepensewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:ajoutdepensewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="reclamation">
<soap:operation soapAction="urn:reclamationwsdl#reclamation" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:reclamationwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:reclamationwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="vente">
<soap:operation soapAction="urn:ventewsdl#vente" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:ventewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:ventewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
</binding>
<service name="gestreport">
<port name="gestreportPort" binding="tns:gestreportBinding">
<soap:address location="http://localhost/dev-bbsinvest-plateform/EsquisseBackEnd/web/app_dev.php/invest/gestionreporting"/>
</port>
</service>
</definitions>
