web/wsdl_adminpdv/ws_adminpdv.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:adminpdvwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:adminpdvwsdl">
<types>
<xsd:schema targetNamespace="urn:adminpdvwsdl">
<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
<xsd:complexType name="InData">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="type" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:complexType name="InModifyUserPdv">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="idpdv" type="xsd:int"/>
<xsd:element name="modifydata" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:complexType name="InDeconnectUserPdv">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="idpdv" type="xsd:int"/>
</xsd:all>
</xsd:complexType>
<xsd:complexType name="InDetailPerformancePdv">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="idpdv" type="xsd:int"/>
<xsd:element name="type" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
</xsd:schema>
</types>
<message name="listuserpdvRequest">
<part name="params" type="tns:InData"/>
</message>
<message name="listuserpdvResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="modifypdvRequest">
<part name="params" type="tns:InModifyUserPdv"/>
</message>
<message name="modifypdvResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="deconnectpdvRequest">
<part name="params" type="tns:InDeconnectUserPdv"/>
</message>
<message name="deconnectpdvResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="nombredereclamationpdvventeRequest">
<part name="params" type="tns:InData"/>
</message>
<message name="nombredereclamationpdvventeResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="performancepdvRequest">
<part name="params" type="tns:InData"/>
</message>
<message name="performancepdvResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="detailperformancepdvRequest">
<part name="params" type="tns:InDetailPerformancePdv"/>
</message>
<message name="detailperformancepdvResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="notificationsRequest">
<part name="params" type="tns:InData"/>
</message>
<message name="notificationsResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="bilandepositRequest">
<part name="params" type="tns:InData"/>
</message>
<message name="bilandepositResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="historiquereclamationRequest">
<part name="params" type="tns:InData"/>
</message>
<message name="historiquereclamationResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="adminpdvPortType">
<operation name="listuserpdv">
<documentation>Method ADMINPDV listuserpdv</documentation>
<input message="tns:listuserpdvRequest"/>
<output message="tns:listuserpdvResponse"/>
</operation>
<operation name="modifypdv">
<documentation>Method ADMINPDV modifypdv</documentation>
<input message="tns:modifypdvRequest"/>
<output message="tns:modifypdvResponse"/>
</operation>
<operation name="deconnectpdv">
<documentation>Method ADMINPDV deconnectpdv</documentation>
<input message="tns:deconnectpdvRequest"/>
<output message="tns:deconnectpdvResponse"/>
</operation>
<operation name="nombredereclamationpdvvente">
<documentation>Method ADMINMULTIPDV nombredereclamationpdvvente</documentation>
<input message="tns:nombredereclamationpdvventeRequest"/>
<output message="tns:nombredereclamationpdvventeResponse"/>
</operation>
<operation name="performancepdv">
<documentation>Method ADMINPDV performancepdv</documentation>
<input message="tns:performancepdvRequest"/>
<output message="tns:performancepdvResponse"/>
</operation>
<operation name="detailperformancepdv">
<documentation>Method ADMINPDV detailperformancepdv</documentation>
<input message="tns:detailperformancepdvRequest"/>
<output message="tns:detailperformancepdvResponse"/>
</operation>
<operation name="notifications">
<documentation>Method ADMINPDV notifications</documentation>
<input message="tns:notificationsRequest"/>
<output message="tns:notificationsResponse"/>
</operation>
<operation name="bilandeposit">
<documentation>Method ADMINPDV bilandeposit</documentation>
<input message="tns:bilandepositRequest"/>
<output message="tns:bilandepositResponse"/>
</operation>
<operation name="historiquereclamation">
<documentation>Method ADMINPDV historiquereclamation</documentation>
<input message="tns:historiquereclamationRequest"/>
<output message="tns:historiquereclamationResponse"/>
</operation>
</portType>
<binding name="adminpdvBinding" type="tns:adminpdvPortType">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="listuserpdv">
<soap:operation soapAction="urn:adminpdvwsdl#listuserpdv" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="modifypdv">
<soap:operation soapAction="urn:adminpdvwsdl#modifypdv" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="deconnectpdv">
<soap:operation soapAction="urn:adminpdvwsdl#deconnectpdv" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="nombredereclamationpdvvente">
<soap:operation soapAction="urn:adminmultipdvwsdl#nombredereclamationpdvvente" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:adminmultipdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:adminmultipdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="performancepdv">
<soap:operation soapAction="urn:adminpdvwsdl#performancepdv" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="detailperformancepdv">
<soap:operation soapAction="urn:adminpdvwsdl#detailperformancepdv" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="notifications">
<soap:operation soapAction="urn:adminpdvwsdl#notifications" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="bilandeposit">
<soap:operation soapAction="urn:adminpdvwsdl#bilandeposit" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="historiquereclamation">
<soap:operation soapAction="urn:adminpdvwsdl#historiquereclamation" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
</binding>
<service name="adminpdv">
<port name="adminpdvPort" binding="tns:adminpdvBinding">
<soap:address location="http://localhost/EsquisseBackEnd/web/app_dev.php/invest/adminpdv"/>
</port>
</service>
</definitions>