web/wsdl_adminpdv/ws_adminpdv.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:adminpdvwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:adminpdvwsdl">
<types>
<xsd:schema targetNamespace="urn:adminpdvwsdl">
<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
<xsd:complexType name="InMontantTransfertService">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="type" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
</xsd:schema>
</types>
<message name="montanttransfertserviceRequest">
<part name="params" type="tns:InMontantTransfertService"/>
</message>
<message name="montanttransfertserviceResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="adminpdvPortType">
<operation name="montanttransfertservice">
<documentation>Method ADMINPDV montanttransfertservice</documentation>
<input message="tns:montanttransfertserviceRequest"/>
<output message="tns:montanttransfertserviceResponse"/>
</operation>
</portType>
<binding name="adminpdvBinding" type="tns:adminpdvPortType">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="montanttransfertservice">
<soap:operation soapAction="urn:adminpdvwsdl#montanttransfertservice" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:adminpdvwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
</binding>
<service name="adminpdv">
<port name="adminpdvPort" binding="tns:adminpdvBinding">
<soap:address location="http://localhost/dev-bbsinvest-plateform/EsquisseBackEnd/web/app_dev.php/invest/adminpdv"/>
</port>
</service>
</definitions>