web/wsdl_auth/ws_auth.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:authwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:authwsdl">
    
    <types>
        <xsd:schema targetNamespace="urn:authwsdl">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
            <xsd:complexType name="UserAuth">
                <xsd:all>
                    <xsd:element name="login" type="xsd:string"/>
                    <xsd:element name="pwd" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="Resultat">
                <xsd:all>
                    <xsd:element name="prenom" type="xsd:string"/>
                    <xsd:element name="token" type="xsd:string"/>
                    <xsd:element name="result" type="xsd:boolean"/>
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </types>
    
    <message name="authentificationRequest">
        <part name="user" type="tns:UserAuth"/>
    </message>
    <message name="authentificationResponse">
        <part name="return" type="tns:Resultat"/>
    </message>
    <message name="helloRequest">
        <part name="name" type="xsd:string"/>
    </message>
    <message name="helloResponse">
        <part name="return" type="xsd:string"/>
    </message>
    
    <portType name="authPortType">
        <operation name="authentification">
            <documentation>Method auth</documentation>
            <input message="tns:authentificationRequest"/>
            <output message="tns:authentificationResponse"/>
        </operation>
        <operation name="hello">
            <documentation>Method hello</documentation>
            <input message="tns:helloRequest"/>
            <output message="tns:helloResponse"/>
        </operation>
    </portType>
    
    <binding name="authBinding" type="tns:authPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="authentification">
            <soap:operation soapAction="urn:authwsdl#authentification" style="rpc"/>
            <input>
                <soap:body use="encoded" namespace="urn:authwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:authwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="hello">
            <soap:operation soapAction="urn:authwsdl#hello" style="rpc"/>
            <input>
                <soap:body use="encoded" namespace="urn:authwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:authwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="auth">
        <port name="authPort" binding="tns:authBinding">
            <soap:address location="http://localhost/dev-bbsinvest-plateform/EsquisseBackEnd/web/app_dev.php/invest/logging" />
        </port>
    </service>
</definitions>