web/wsdl_wizall/ws_wizall.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:wizallwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:wizallwsdl">
<types>
<xsd:schema targetNamespace="urn:wizallwsdl">
	<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
	<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
	<xsd:complexType name="datapostcashin">
		<xsd:all>
			<xsd:element name="token" type="xsd:string"/>
			<xsd:element name="frommsisdn" type="xsd:string"/>
			<xsd:element name="tomsisdn" type="xsd:string"/>
			<xsd:element name="amount" type="xsd:int"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="dataintouchcashout">
		<xsd:all>
			<xsd:element name="token" type="xsd:string"/>
			<xsd:element name="agentmsisdn" type="xsd:string"/>
			<xsd:element name="usermsisdn" type="xsd:string"/>
			<xsd:element name="amount" type="xsd:int"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="dataintouchPayerFactureSde">
		<xsd:all>
			<xsd:element name="token" type="xsd:string"/>
			<xsd:element name="montant" type="xsd:int"/>
			<xsd:element name="reference_client" type="xsd:int"/>
			<xsd:element name="reference_facture" type="xsd:int"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="dataintouchRecupereFactureSde">
		<xsd:all>
			<xsd:element name="token" type="xsd:string"/>
			<xsd:element name="reference_client" type="xsd:int"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="dataintouchPayerFactureSenelec">
		<xsd:all>
			<xsd:element name="token" type="xsd:string"/>
			<xsd:element name="montant" type="xsd:int"/>
			<xsd:element name="police" type="xsd:string"/>
			<xsd:element name="numfacture" type="xsd:string"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="dataintouchRecupereFactureSenelec">
		<xsd:all>
			<xsd:element name="token" type="xsd:string"/>
			<xsd:element name="police" type="xsd:string"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
</types>
<message name="intouchCashinRequest">
   <part name="params" type="tns:datapostcashin"/>
</message>
<message name="intouchCashinResponse">
   <part name="return" type="xsd:string"/>
</message>

<message name="intouchCashoutRequest">
	<part name="params" type="tns:dataintouchcashout" />
</message>
<message name="intouchCashoutResponse">
   <part name="return" type="xsd:string"/>
</message>

<message name="intouchPayerFactureSdeRequest">
	<part name="params" type="tns:dataintouchPayerFactureSde" />
</message>
<message name="intouchPayerFactureSdeResponse">
   <part name="return" type="xsd:string"/>
</message>

<message name="intouchRecupereFactureSdeRequest">
	<part name="params" type="tns:dataintouchRecupereFactureSde" />
</message>
<message name="intoucRecupereFactureSdehResponse">
   <part name="return" type="xsd:string"/>
</message>

<message name="intouchPayerFactureSenelecRequest">
	<part name="params" type="dataintouchPayerFactureSenelec" />
</message>
<message name="intouchPayerFactureSenelecResponse">
   <part name="return" type="xsd:string"/>
</message>

<message name="intouchRecupereFactureSenelecRequest">
	<part name="params" type="dataintouchRecupereFactureSenelec" />
</message>
<message name="intouchRecupereFactureSenelecResponse">
   <part name="return" type="xsd:string"/>
</message>

<portType name="wizallPortType">
	<operation name="intouchCashin">
		<documentation>Method intouchCashin</documentation>
		<input message="tns:intouchCashinRequest"/>
		<output message="tns:intouchCashinResponse"/>
	</operation>
	<operation name="intouchCashout">
		<documentation>Method intouchCashout</documentation>
		<input message="tns:intouchCashoutRequest"/>
		<output message="tns:intouchCashoutRequest"/>
	</operation>
	<operation name="intouchPayerFactureSde">
		<input message="tns:intouchPayerFactureSdeRequest"/>
		<output message="tns:intouchPayerFactureSdeResponse"/>
	</operation>
	<operation name="intouchRecupereFactureSde">
		
		<input message="tns:intouchRecupereFactureSdeRequest"/>
		<output message="tns:intoucRecupereFactureSdehResponse"/>
	</operation>
	<operation name="intouchPayerFactureSenelec">
	
		<input message="tns:intouchPayerFactureSenelecRequest"/>
		<output message="tns:intouchPayerFactureSenelecRequest"/>
	</operation>
	<operation name="intouchRecupereFactureSenelec">
		
		<input message="tns:intouchRecupereFactureSenelecRequest"/>
		<output message="tns:intouchRecupereFactureSenelecResponse"/>
	</operation>
</portType>
<binding name="wizallBinding" type="tns:wizallPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="intouchCashin">
		<soap:operation soapAction="urn:wizallwsdl#intouchCashin" style="rpc"/>
		<input>
		  <soap:body use="encoded" namespace="urn:wizallwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
		  <soap:body use="encoded" namespace="urn:wizallwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
	<operation name="intouchCashout">
		<soap:operation soapAction="urn:wizallwsdl#intouchCashout" style="rpc"/>
		<input>
		  <soap:body use="encoded" namespace="urn:wizallwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
		  <soap:body use="encoded" namespace="urn:wizallwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
	<operation name="intouchPayerFactureSde">
		<soap:operation soapAction="urn:wizallwsdl#intouchPayerFactureSde" style="rpc"/>
		<input>
		  <soap:body use="encoded" namespace="urn:wizallwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
		  <soap:body use="encoded" namespace="urn:wizallwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
	<operation name="intouchRecupereFactureSde">
		<soap:operation soapAction="urn:wizallwsdl#intouchRecupereFactureSde" style="rpc"/>
		<input>
		  <soap:body use="encoded" namespace="urn:wizallwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
		  <soap:body use="encoded" namespace="urn:wizallwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
	<operation name="intouchPayerFactureSenelec">
		<soap:operation soapAction="urn:wizallwsdl#intouchPayerFactureSenelec" style="rpc"/>
		<input>
		  <soap:body use="encoded" namespace="urn:wizallwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
		  <soap:body use="encoded" namespace="urn:wizallwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
	<operation name="intouchRecupereFactureSenelec">
		<soap:operation soapAction="urn:wizallwsdl#intouchRecupereFactureSenelec" style="rpc"/>
		<input>
		  <soap:body use="encoded" namespace="urn:wizallwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</input>
		<output>
		  <soap:body use="encoded" namespace="urn:wizallwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
		</output>
	</operation>
</binding>
<service name="wizall">
	<port name="wizallPort" binding="tns:wizallBinding">
	   <soap:address location="http://localhost/EsquisseBackEnd/web/invest/wizall"/>
	</port>
</service>
</definitions>
