web/wsdl_tnt/ws_tnt.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:tntwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:tntwsdl">
<types>
<xsd:schema targetNamespace="urn:tntwsdl">
<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
<xsd:complexType name="InVerifiNumeroAbonnement">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="numeroCarteChip" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:complexType name="InListAbonnement">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:complexType name="InAjoutAbonnement">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="prenom" type="xsd:string"/>
<xsd:element name="nom" type="xsd:string"/>
<xsd:element name="tel" type="xsd:string"/>
<xsd:element name="adresse" type="xsd:string"/>
<xsd:element name="region" type="xsd:string"/>
<xsd:element name="city" type="xsd:string"/>
<xsd:element name="cni" type="xsd:string"/>
<xsd:element name="numerochip" type="xsd:string"/>
<xsd:element name="numerocarte" type="xsd:string"/>
<xsd:element name="duree" type="xsd:int"/>
<xsd:element name="typedebouquet" type="xsd:int"/>
<xsd:element name="montant" type="xsd:int"/>
</xsd:all>
</xsd:complexType>
<xsd:complexType name="InVenteDecodeur">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="prenom" type="xsd:string"/>
<xsd:element name="nom" type="xsd:string"/>
<xsd:element name="tel" type="xsd:string"/>
<xsd:element name="adresse" type="xsd:string"/>
<xsd:element name="region" type="xsd:string"/>
<xsd:element name="cni" type="xsd:string"/>
<xsd:element name="numerochip" type="xsd:string"/>
<xsd:element name="numerocarte" type="xsd:string"/>
<xsd:element name="typedebouquet" type="xsd:int"/>
<xsd:element name="prix" type="xsd:int"/>
</xsd:all>
</xsd:complexType>


<xsd:complexType name="InVenteCarte">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="prenom" type="xsd:string"/>
<xsd:element name="nom" type="xsd:string"/>
<xsd:element name="tel" type="xsd:string"/>
<xsd:element name="adresse" type="xsd:string"/>
<xsd:element name="region" type="xsd:string"/>
<xsd:element name="cni" type="xsd:string"/>
<xsd:element name="numerocarte" type="xsd:string"/>
<xsd:element name="prix" type="xsd:int"/>
</xsd:all>
</xsd:complexType>


<xsd:complexType name="InListDecodeur">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
</xsd:schema>
</types>
<message name="verifinumeroabonnementRequest">
<part name="params" type="tns:InVerifiNumeroAbonnement"/>
</message>
<message name="verifinumeroabonnementResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="listabonnementRequest">
<part name="params" type="tns:InListAbonnement"/>
</message>
<message name="listabonnementResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ajoutabonnementRequest">
<part name="params" type="tns:InAjoutAbonnement"/>
</message>
<message name="ajoutabonnementResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ventedecodeurRequest">
<part name="params" type="tns:InVenteDecodeur"/>
</message>
<message name="ventedecodeurResponse">
<part name="return" type="xsd:string"/>
</message>

<message name="ventecarteRequest">
<part name="params" type="tns:InVenteCarte"/>
</message>
<message name="ventecarteResponse">
<part name="return" type="xsd:string"/>
</message>

<message name="listdecodeurRequest">
<part name="params" type="tns:InListDecodeur"/>
</message>
<message name="listdecodeurResponse">
<part name="return" type="xsd:string"/>
</message>

<message name="listcarteRequest">
<part name="params" type="tns:InListDecodeur"/>
</message>
<message name="listcarteResponse">
<part name="return" type="xsd:string"/>
</message>

<portType name="tntPortType">
<operation name="verifinumeroabonnement">
<documentation>Method TNT verifinumeroabonnement</documentation>
<input message="tns:verifinumeroabonnementRequest"/>
<output message="tns:verifinumeroabonnementResponse"/>
</operation>
<operation name="listabonnement">
<documentation>Method TNT listabonnement</documentation>
<input message="tns:listabonnementRequest"/>
<output message="tns:listabonnementResponse"/>
</operation>
<operation name="ajoutabonnement">
<documentation>Method TNT ajoutabonnement</documentation>
<input message="tns:ajoutabonnementRequest"/>
<output message="tns:ajoutabonnementResponse"/>
</operation>
<operation name="ventedecodeur">
<documentation>Method TNT ventedecodeur</documentation>
<input message="tns:ventedecodeurRequest"/>
<output message="tns:ventedecodeurResponse"/>
</operation>

<operation name="ventecarte">
<documentation>Method TNT ventedecodeur</documentation>
<input message="tns:ventecarteRequest"/>
<output message="tns:ventecarteResponse"/>
</operation>


<operation name="listdecodeur">
<documentation>Method TNT listdecodeur</documentation>
<input message="tns:listdecodeurRequest"/>
<output message="tns:listdecodeurResponse"/>
</operation>

<operation name="listcarte">
<documentation>Method TNT listdecodeur</documentation>
<input message="tns:listcarteRequest"/>
<output message="tns:listcarteResponse"/>
</operation>

</portType>
<binding name="tntBinding" type="tns:tntPortType">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="verifinumeroabonnement">
<soap:operation soapAction="urn:tntwsdl#verifinumeroabonnement" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="listabonnement">
<soap:operation soapAction="urn:tntwsdl#listabonnement" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="ajoutabonnement">
<soap:operation soapAction="urn:tntwsdl#ajoutabonnement" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="ventedecodeur">
<soap:operation soapAction="urn:tntwsdl#ventedecodeur" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>

<operation name="ventecarte">
<soap:operation soapAction="urn:tntwsdl#ventecarte" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>


<operation name="listdecodeur">
<soap:operation soapAction="urn:tntwsdl#listdecodeur" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>

<operation name="listcarte">
<soap:operation soapAction="urn:tntwsdl#listcarte" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:tntwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>

</binding>
<service name="tnt">
<port name="tntPort" binding="tns:tntBinding">
<soap:address location="http://localhost:8888/dev-bbsinvest-plateform/EsquisseBackEnd/web/app_dev.php/invest/tnt"/>
</port>
</service>
</definitions>