web/wsdl_expressocash/ws_expressocash.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:expressocashwsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:expressocashwsdl">
<types>
<xsd:schema targetNamespace="urn:expressocashwsdl">
<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
<xsd:complexType name="InCashIn">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="transactionID" type="xsd:string"/>
<xsd:element name="destination" type="xsd:string"/>
<xsd:element name="amount" type="xsd:double"/>
<xsd:element name="purposeOfTransfer" type="xsd:string"/>
<xsd:element name="externaldata1" type="xsd:string"/>
<xsd:element name="externaldata2" type="xsd:string"/>
<xsd:element name="clientID" type="xsd:string"/>
<xsd:element name="clientPassword" type="xsd:string"/>
<xsd:element name="hashValue" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:complexType name="InCashOut">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="transactionID" type="xsd:string"/>
<xsd:element name="customer" type="xsd:string"/>
<xsd:element name="amount" type="xsd:double"/>
<xsd:element name="purposeOfTransfer" type="xsd:string"/>
<xsd:element name="externaldata1" type="xsd:string"/>
<xsd:element name="externaldata2" type="xsd:string"/>
<xsd:element name="clientID" type="xsd:string"/>
<xsd:element name="clientPassword" type="xsd:string"/>
<xsd:element name="hashValue" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:complexType name="InCheckBalance">
<xsd:all>
<xsd:element name="token" type="xsd:string"/>
<xsd:element name="clientID" type="xsd:string"/>
<xsd:element name="clientPassword" type="xsd:string"/>
<xsd:element name="hashValue" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
</xsd:schema>
</types>
<message name="cashinRequest">
<part name="params" type="tns:InCashIn"/>
</message>
<message name="cashinResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="cashoutRequest">
<part name="params" type="tns:InCashOut"/>
</message>
<message name="cashoutResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="topupRequest">
<part name="params" type="tns:InCashIn"/>
</message>
<message name="topupResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="checkbalanceRequest">
<part name="params" type="tns:InCheckBalance"/>
</message>
<message name="checkbalanceResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="expressocashPortType">
<operation name="cashin">
<documentation>Method ExpressoCash cashin</documentation>
<input message="tns:cashinRequest"/>
<output message="tns:cashinResponse"/>
</operation>
<operation name="cashout">
<documentation>Method ExpressoCash cashout</documentation>
<input message="tns:cashoutRequest"/>
<output message="tns:cashoutResponse"/>
</operation>
<operation name="topup">
<documentation>Method ExpressoCash topup</documentation>
<input message="tns:topupRequest"/>
<output message="tns:topupResponse"/>
</operation>
<operation name="checkbalance">
<documentation>Method ExpressoCash checkbalance</documentation>
<input message="tns:checkbalanceRequest"/>
<output message="tns:checkbalanceResponse"/>
</operation>
</portType>
<binding name="expressocashBinding" type="tns:expressocashPortType">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="cashin">
<soap:operation soapAction="urn:expressocashwsdl#cashin" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:expressocashwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:expressocashwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="cashout">
<soap:operation soapAction="urn:expressocashwsdl#cashout" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:expressocashwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:expressocashwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="topup">
<soap:operation soapAction="urn:expressocashwsdl#topup" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:expressocashwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:expressocashwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="checkbalance">
<soap:operation soapAction="urn:expressocashwsdl#checkbalance" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:expressocashwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:expressocashwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
</binding>
<service name="expressocash">
<port name="expressocashPort" binding="tns:expressocashBinding">
<soap:address location="http://localhost:8888/EsquisseBackEnd/web/app_dev.php/invest/expressocash"/>
</port>
</service>
</definitions>